.direnv
.idea

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore vscode folder
/senMlConverter/.vscode/

# Ignore pycache folder
/senMlConverter/src/main/__pycache__/